# Big Mac Data Omega
## Your Task
Now it's time to put it all together and complete an activity which demonstrates what you've learned so far. You may use several code windows if this helps.

1) **Read** in the *big_mac_source_data_v2.csv* file and store it in a dataframe.

2) **Remove** the *iso_a3*, *GDP_dollar* and *GDP_local* columns.

3) **Remove** all rows **except** for *Australia*, *Britan*, *France*, *New Zealand* and *United States*. Hint: [Drop All Rows Except](https://www.statology.org/pandas-drop-all-rows-except/).

4) **Create** a new column which calculates the **US dollar price** by multipling *local_price* by *dollar_ex* [How to mulitply two columns in Pandas](https://www.statology.org/pandas-multiply-two-columns/). If you get a warning due to setting a value on copy of a slice, use: 

    `name_of_your_dataframe.loc[:, 'yournewcolumnname'] = ...` 

5) **Calculate** the **mean** for each country in USD. You may need to first isolate each country [Select rows from Dataframe based on Column Values](https://sentry.io/answers/select-rows-from-a-python-pandas-dataframe-based-on-column-values/)

6) Use **matplotlib** to plot a **comparison** of each country's average - look at [matplotlib Bars](https://www.w3schools.com/python/matplotlib_bars.asp)

7) Do step 4 and 5 again for **median**.

8) **Extension:** See if you can simplify step 5-7 into the minimum amount of code possible (use *for loops* and *functions* where possible)

In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# reads from the source file
big_mac_df = pd.read_csv('data/big_mac_source_data_v2.csv')

# drops the columns
big_mac_df.drop(columns=['iso_a3', 'GDP_dollar', 'GDP_local'], inplace=True)

# remove the extra rows
big_mac_df = big_mac_df.query("name == 'Australia' | name == 'Britain' | name == 'France' | name == 'New_Zealand' |  name == 'United_States'")

           name currency_code  local_price  dollar_ex        date
1     Australia           AUD         2.59   1.680000  2000-04-01
10      Britain           GBP         1.90   0.632911  2000-04-01
29    Australia           AUD         3.00   1.980000  2001-04-01
38      Britain           GBP         1.99   0.699301  2001-04-01
57    Australia           AUD         3.00   1.860000  2002-04-01
...         ...           ...          ...        ...         ...
1968     France           EUR         5.00   0.919500  2023-01-01
1969    Britain           GBP         3.79   0.812050  2023-01-01
2019  Australia           AUD         7.45   1.484010  2023-07-01
2039     France           EUR         5.30   0.906990  2023-07-01
2040    Britain           GBP         4.19   0.777210  2023-07-01

[103 rows x 5 columns]